<div class="row">
  <div class=" boxOfAtt col s2 center-align">
    <h4 ng-show = "is.classInfo">{{is.classInfo.className}}</h4>
    <h5 ng-show = "!is.classInfo" class = "instructions">Select a class or <em>add</em> a new one</h5>

    <ul class="collection">
      <li class = "collection-item center">
        <p ng-show = "is.classInfo.students.length ==0 && is.classInfo" class = "instructions"> Click below on 'Add Student'. Add name and Gender. </p></li>
        <p ng-show = "is.classInfo.students.length !=0&& is.classInfo" class = "instructions">Click on each student's name to ready your reports <em>or</em> add more students.</p></li>

      <li class="collection-item center"  ng-click="is.editStudent(student)" ng-repeat="student in is.studentList.students track by $index" ng-style="student.markAs"><p class = "textColor" ng-click="student.markAs={'background-color':'#00B4FF'}">{{student.name}}</p></li>
      <li class = "center">
        <a class="waves-effect waves-light btn" ng-click="is.startAddNewStudent()" ng-show="!is.addingStudent && is.classInfo">Add Student</a>
      </li>
      <li ng-if="is.addingStudent">
        <div class = "input-field">
        <input id="icon_prefix" ng-model="is.newStudent.name" type="text"/>
        <label class="flow-text" for="icon_prefix">Student's name:</label>
      </div>
        <select class=" browser-default" ng-class= "{'redBackground': (!is.newStudent.gender)}" ng-model="is.newStudent.gender">
          <option disabled selected value="">Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <a class=" colorAccent waves-effect waves-light extraWidth btn" ng-click="is.endAddNewStudent(is.newStudent)" ng-if="is.addingStudent && is.newStudent.gender && is.newStudent.name">Add!</a>
        <a class="redBackground waves-effect waves-light extraWidth btn" ng-click="is.cancelAdd()" ng-if="is.addingStudent">Cancel</a>
      </li>





      <li ng-show = "is.showCompileStuff"><p class = "instructions">Below is the compile button. When you are done with each student(green means go!), press the button to get a list of each student and a randomly generated report based on their perfomance.</p></li>
      <li ng-show = "is.showCompileStuff">
          <a class="colorAccent waves-effect waves-light extraWidth btn" ng-click="is.doReports(is.studentList)">Compile Reports!</a>
      </li>
    </ul>
  </div>

<div class="greyAccent col s10">
  <student  user="is.user" ng-show="is.currentStudent && is.showStudent" show-reports = "is.showReports" student-Info='is.currentStudent'  class-Info="is.classInfo"></student>
  <a class="btn-large waves-effect waves-light redBackground" ng-show = "is.currentStudent && is.showStudent" ng-click="is.deleteStudent(is.currentStudent.classId, is.currentStudent._id)">Delete this Student</a>
  <report  user="is.user" reports="is.reports" show-reports = "is.showReports" ng-show="is.showReports && !is.showStudent && is.canDoReports"></report>
  <div ng-show = "is.showReports && !is.showStudent && !is.canDoReports">

    <div class="row">
      <div class="col s12 center-align">
        <div class="card-panel redBackground">
          <h2 class="accountTitle">Sorry, You need to renew your subscription on the "My Account" page</h2>
        </div>
      </div>
    </div>

    </div>
</div>
</div>
