<!-- <div class = "row"> -->
<navbar></navbar>

<div class="parallax-container">
  <div class="parallax"><img src="./assets/mac-glasses.jpeg"></div>
</div>

<h2 class="parallexText whiteText">
  <span class="rotate whiteText">Get your reports done. FAST, Save class information, Use your time for planning!</span>
</h2>

<div class="landingPageContentBoarder z-depth-3">
  <p class="textColor flow-text">Get started today!</p>
  <a class="waves-effect waves-light btn greyAccent textColor" href="/#/myAccount">Sign up!</a>
</div>

<div class="landPageBottomElements row">
  <div class="col s12">

    <div class="col s4 ">

      <div class="card small">
        <!-- <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Card Title</span>
        </div> -->
        <div class="landingPageBottomTextDivs">
          <p>     Made for teachers working in English schools abroad, by an English teacher abroad in Korea. I know how frantic reports can be. Your manager tells you a day in advance that you need to have reports done tomorrow! All 100 Kids! Great, there goes the evening/morning! Thats why I made DoMyTeacherReports.com.</p>
        </div>

      </div>
    </div>

    <div class="col s4">

      <div class="card small">

        <div class="card-image center-align">
          <video class="responsive-video" controls>
            <source src="app/images/walkThrough.mp4" type="video/mp4">
          </video>
        </div>

        <div class="card-content center-align">
          <p class = "flow-text"><bold>Take a look at how <em>easy</em> the report generator is is to use!</bold></p>

        </div>

      </div>
    </div>

    <div class="col s4">

      <div class="card small">

        <div class = 'landingPageBottomTextDivs'><div>
          <p>     The price of using the generator for a month, is about the price of one beer for me. I decided that if Im going to be doing your reports, you should buy me a drink! No subcriptions to worry about canceling. Just a one-time fee per month. It should accpt any payments from all major card companies.</p>
</div>
        </div>
        <div class="card-action">
          <a href="mailto:bryanInKorea@live.com">Questions/Comments: EMail me!</a>
        </div>
      </div>

    </div>

  </div>
  <!-- </div> -->
